.breadcrumb-wrapper
{
    background-color: #002457;
}
.breadcrumb-wrapper .breadcrumb li a 
{
    color: #fff;
}

#header-wrapper #header #header-inner .navbar .navbar-inner .site-name .brand
{
    color: #002457;
}

.navigation-wrapper .navigation .nav li .nolink:hover, 
.navigation-wrapper .navigation .nav li a:hover
{
    background-color: #002457;
    color: #fff;
}

.navigation-wrapper .navigation .nav li ul {
    background-color: #002457;
    color: #fff;
    border-color: #fff;
}

h4.page-header {
    margin: 0;
    font-weight: 600;
}

.carousel .preview img {
   max-width: 870px;
}

.property-detail .overview {
    margin-right: 0;
}

.property-detail .overview table.property-details {
    border-color: #002457;
}
.property-detail .overview table.property-details.table-bordered th, 
.property-detail .overview table.property-details.table-bordered td {
    border-color: #002457;
}
.property-detail .overview table.property-details th {
    padding: 5px 7px;
    text-transform: uppercase;
    background: #002457;
    color: #fff;
}

table.property-details tr > td:last-child {
    font-weight: bold;
}

#property-map h3 {
    margin: 0;
}

.properties-grid .property .property-footer {
    background-color: #002457;
    
}

.carousel .content
{
    background-color: #002457;
}
.carousel .caroufredsel_wrapper {
    background-color: #002457;
    
}

label.control-label-inline,
div.controls-inline,
div.control-group-inline
{
    display: inline;
}